body {
  min-height: 320px;
  min-width: 320px;
  background-color: #f0f0f0;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin: 0;
  padding: 0;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

nav {
  display: flex;
  flex-direction: column;
  background-color: #e0e0e0;
  border: 1px solid #707070;
}

nav > * {
  padding: 8px;
  border-bottom: 0.02em solid lightslategray;
}

.profile-link {
  display: flex;
  flex-direction: row;
  align-content: stretch;
  text-decoration: none;
  text-transform: none;
}

.profile-circle {
  width: 32px;
  height: 32px;
  border-radius: 16px;
}

.profile-name {
  margin: auto 8px;
  font-weight: 300;
  color: #030201;
}

nav a {
  text-transform: none;
  text-decoration: none;
}

a div {
  color: #030201;
}

.selected-nav {
  background-color: #c0c0c0;
}

.project-section {
  display: flex;
  flex-direction: column;
}

.project-item {
  display: flex;
  flex-direction: column;
  margin: 16px;
  padding-top: 16px;
  background-color: white;
  border: 1px solid lightskyblue;
}

.project-title {
  font-weight: 700;
  font-size: 22px;
  padding: 0 16px;
}

.project-date {
  margin-top: 8px;
  padding: 0 16px;
  color: #a0a0a0;
}

.project-description {
  margin-top: 12px;
  padding: 0 16px;
  font-weight: 400;
  font-size: 16px;
  color: #222222;
}

.project-button {
  margin: 16px 0 0;
  padding: 8px;
  text-decoration: none;
  text-transform: none;
  text-align: center;
  color: white;
  font-weight: bold;
  background-color: #b3b3b3;
}

@media screen and (min-width: 768px) {
  nav {
    flex-direction: row;
    align-content: stretch;
  }

  nav > * {
    border-bottom: none;
    border-right: 0.02em solid lightslategray;
    align-items: center;
  }

  a > div {
    margin-top: 10%;
  }

  .project-section {
    flex-direction: row;
  }

  .project-section > * {
    flex: 1 0;
  }

  .project-description {
    flex: 1 0;
  }

  .project-title {
    height: 48px;
  }
}
